<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <title>Day Trader's Cheat Sheet</title>

  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css')}}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico')}}">

  <meta name="description" content="Predict Stock Prices with Machine Learning!">
  <meta name="author" content="Sahir Mody">

  <script src="{{ url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename='script.js')}}"></script>

</head>

<body>

  <h1>
    The Day Trader's Cheat Sheet
  </h1>

  <h2>
    What is it?
  </h2>

  <p>
    This app is an experiment to see if machine learning could be used to help
    day traders beat the market. The app is built around a neural network designed
    to predict the closing price of a stock on any given day. The neural network learns
    from historical stock S&P 500 data to predict the closing price on the current day
    or the last day that the market was open. Day traders can use this information to
    determine whether or not they should buy a given stock based on how its price will
    change by the end of the day to maximize daily profits.
  </p>

  <h2>
    How do you use it?
  </h2>

  <p>
    If you are running the server through the command line, leave the command line
    window open. Enter the stock symbol of the company you would like to analyze below.
    If you enter an invalid stock symbol, you will be redirected back to this page.
    Please be patient as it may take a moment for the page to load. Once the page loads,
    please follow the instructions.
  </p>

  <p id="stockPrompt">
    ENTER STOCK SYMBOL HERE:
  </p>
  <form method="POST" class="submission">
    <input name="company" placeholder="GOOGL">
    <input type="submit" value="Predict This Stock!">
  </form>


</body>

</html>
