<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <title>Day Trader's Cheat Sheet</title>

  <link rel="stylesheet" type= "text/css" href= "../static/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">

  <meta name="description" content="Predict Stock Prices with Machine Learning!">
  <meta name="author" content="Sahir Mody">

</head>

<body>

  <h1 style="text-decoration: none">
    {{ company }}
  </h1>

  <p>
    The data has been retrieved and processed successfully! You can now begin to
    train the models. Please be patient because it takes about a minute to train each model.
    You can look at the terminal window where the server is running to track the progress of
    the training.
  </p>

  <p>
    How many models would you like to train?
    <form method="POST">
      <input name="count">
      <input type="submit" value="Train Models!">
    </form>
  </p>



</body>

</html>
